core/ESECProcess/nbproject/private/cache/retriever/partner_8084/axis2/services/S3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ce.uniroma2.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ce.uniroma2.it">
    <wsdl:documentation>S3</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ce.uniroma2.it">
            <xs:element name="s3op">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="s3opResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="s3opRequest">
        <wsdl:part name="parameters" element="ns:s3op"/>
    </wsdl:message>
    <wsdl:message name="s3opResponse">
        <wsdl:part name="parameters" element="ns:s3opResponse"/>
    </wsdl:message>
    <wsdl:portType name="S3PortType">
        <wsdl:operation name="s3op">
            <wsdl:input message="ns:s3opRequest" wsaw:Action="urn:s3op"/>
            <wsdl:output message="ns:s3opResponse" wsaw:Action="urn:s3opResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="S3Soap11Binding" type="ns:S3PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s3op">
            <soap:operation soapAction="urn:s3op" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S3Soap12Binding" type="ns:S3PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s3op">
            <soap12:operation soapAction="urn:s3op" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S3HttpBinding" type="ns:S3PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="s3op">
            <http:operation location="S3/s3op"/>
            <wsdl:input>
                <mime:content type="text/xml" part="s3op"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="s3op"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="S3">
        <wsdl:port name="S3HttpSoap11Endpoint" binding="ns:S3Soap11Binding">
            <soap:address location="http://160.80.87.57:8084/axis2/services/S3.S3HttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S3HttpSoap12Endpoint" binding="ns:S3Soap12Binding">
            <soap12:address location="http://160.80.87.57:8084/axis2/services/S3.S3HttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S3HttpEndpoint" binding="ns:S3HttpBinding">
            <http:address location="http://160.80.87.57:8084/axis2/services/S3.S3HttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
