core/ESECProcess/nbproject/private/cache/retriever/mysql-services_8084/axis2/services/S5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://ce/uniroma2/it/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ce/uniroma2/it/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ce/uniroma2/it/">
    <wsdl:documentation>S5</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://ce/uniroma2/it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ce/uniroma2/it/xsd">
            <xs:element name="parametrizza">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="numCpu" type="xs:int"/>
                        <xs:element minOccurs="0" name="serviceTime" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="parametrizzaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InterruptedException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InterruptedException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="s5op">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="s5opResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="parametrizzaRequest">
        <wsdl:part name="parameters" element="ns0:parametrizza"/>
    </wsdl:message>
    <wsdl:message name="parametrizzaResponse">
        <wsdl:part name="parameters" element="ns0:parametrizzaResponse"/>
    </wsdl:message>
    <wsdl:message name="s5opRequest">
        <wsdl:part name="parameters" element="ns0:s5op"/>
    </wsdl:message>
    <wsdl:message name="s5opResponse">
        <wsdl:part name="parameters" element="ns0:s5opResponse"/>
    </wsdl:message>
    <wsdl:message name="InterruptedException">
        <wsdl:part name="parameters" element="ns0:InterruptedException"/>
    </wsdl:message>
    <wsdl:portType name="S5PortType">
        <wsdl:operation name="parametrizza">
            <wsdl:input message="axis2:parametrizzaRequest" wsaw:Action="urn:parametrizza"/>
            <wsdl:output message="axis2:parametrizzaResponse" wsaw:Action="urn:parametrizzaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="s5op">
            <wsdl:input message="axis2:s5opRequest" wsaw:Action="urn:s5op"/>
            <wsdl:output message="axis2:s5opResponse" wsaw:Action="urn:s5opResponse"/>
            <wsdl:fault message="axis2:InterruptedException" name="InterruptedException" wsaw:Action="urn:s5opInterruptedException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="S5SOAP11Binding" type="axis2:S5PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="parametrizza">
            <soap:operation soapAction="urn:parametrizza" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="s5op">
            <soap:operation soapAction="urn:s5op" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InterruptedException">
                <soap:fault use="literal" name="InterruptedException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S5SOAP12Binding" type="axis2:S5PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="parametrizza">
            <soap12:operation soapAction="urn:parametrizza" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="s5op">
            <soap12:operation soapAction="urn:s5op" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InterruptedException">
                <soap12:fault use="literal" name="InterruptedException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S5HttpBinding" type="axis2:S5PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="parametrizza">
            <http:operation location="S5/parametrizza"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parametrizza"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parametrizza"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="s5op">
            <http:operation location="S5/s5op"/>
            <wsdl:input>
                <mime:content type="text/xml" part="s5op"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="s5op"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="S5">
        <wsdl:port name="S5SOAP11port_http" binding="axis2:S5SOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/S5"/>
        </wsdl:port>
        <wsdl:port name="S5SOAP12port_http" binding="axis2:S5SOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/S5"/>
        </wsdl:port>
        <wsdl:port name="S5Httpport" binding="axis2:S5HttpBinding">
            <http:address location="http://localhost:8080/axis2/services/S5"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
