core/ESECProcess/src/localhost_8084/axis2/services/S4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ce.uniroma2.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ce.uniroma2.it">
    <wsdl:documentation>S4</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ce.uniroma2.it">
            <xs:element name="s4op">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="s4opResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="s4opRequest">
        <wsdl:part name="parameters" element="ns:s4op"/>
    </wsdl:message>
    <wsdl:message name="s4opResponse">
        <wsdl:part name="parameters" element="ns:s4opResponse"/>
    </wsdl:message>
    <wsdl:portType name="S4PortType">
        <wsdl:operation name="s4op">
            <wsdl:input message="ns:s4opRequest" wsaw:Action="urn:s4op"/>
            <wsdl:output message="ns:s4opResponse" wsaw:Action="urn:s4opResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="S4Soap11Binding" type="ns:S4PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s4op">
            <soap:operation soapAction="urn:s4op" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S4Soap12Binding" type="ns:S4PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s4op">
            <soap12:operation soapAction="urn:s4op" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S4HttpBinding" type="ns:S4PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="s4op">
            <http:operation location="S4/s4op"/>
            <wsdl:input>
                <mime:content type="text/xml" part="s4op"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="s4op"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="S4">
        <wsdl:port name="S4HttpSoap11Endpoint" binding="ns:S4Soap11Binding">
            <soap:address location="http://160.80.87.57:8084/axis2/services/S4.S4HttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S4HttpSoap12Endpoint" binding="ns:S4Soap12Binding">
            <soap12:address location="http://160.80.87.57:8084/axis2/services/S4.S4HttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S4HttpEndpoint" binding="ns:S4HttpBinding">
            <http:address location="http://160.80.87.57:8084/axis2/services/S4.S4HttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
