core/ESECProcess/src/localhost_8084/axis2/services/S5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ce.uniroma2.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ce.uniroma2.it">
    <wsdl:documentation>S5</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ce.uniroma2.it">
            <xs:element name="s5op">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="s5opResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="s5opRequest">
        <wsdl:part name="parameters" element="ns:s5op"/>
    </wsdl:message>
    <wsdl:message name="s5opResponse">
        <wsdl:part name="parameters" element="ns:s5opResponse"/>
    </wsdl:message>
    <wsdl:portType name="S5PortType">
        <wsdl:operation name="s5op">
            <wsdl:input message="ns:s5opRequest" wsaw:Action="urn:s5op"/>
            <wsdl:output message="ns:s5opResponse" wsaw:Action="urn:s5opResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="S5Soap11Binding" type="ns:S5PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s5op">
            <soap:operation soapAction="urn:s5op" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S5Soap12Binding" type="ns:S5PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="s5op">
            <soap12:operation soapAction="urn:s5op" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="S5HttpBinding" type="ns:S5PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="s5op">
            <http:operation location="S5/s5op"/>
            <wsdl:input>
                <mime:content type="text/xml" part="s5op"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="s5op"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="S5">
        <wsdl:port name="S5HttpSoap11Endpoint" binding="ns:S5Soap11Binding">
            <soap:address location="http://160.80.87.57:8084/axis2/services/S5.S5HttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S5HttpSoap12Endpoint" binding="ns:S5Soap12Binding">
            <soap12:address location="http://160.80.87.57:8084/axis2/services/S5.S5HttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="S5HttpEndpoint" binding="ns:S5HttpBinding">
            <http:address location="http://160.80.87.57:8084/axis2/services/S5.S5HttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
